.contenedor {
  display: flex;
  justify-content: center;
  background-color: grey;
  align-items: center;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
}

.imagen {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin: 20px;
}
.subtitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.author {
  margin-right: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
