.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  align-items: center;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px;
  border-radius: 20px;
  border: 1.5px solid #ffbb0067;
}
.datos {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: flex-start;
}

.titulo {
  font-size: 65px;
  margin-top: -10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 25ch;
}
.divider {
  border: none;
  border-top: 1.5px solid #ffbb0067;
  width: 90%;
  margin: 5px 5px;
}
.titulo-descripcion {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}
.descripcion {
  margin: 0;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}
.fecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.fechaPublicacion {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  margin: 0;
}
.imagen {
  width: 450px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin: 20px;
}
.autor-vermas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.autor {
  margin: 0;
  font-weight: bold;
}

.vermas {
  margin: 0;
  align-self: flex-end;
}
h1:hover {
  color: #ffbb00;
}

p:hover {
  color: #ffbb00;
}
